In [1]:
# Dependencies
import pandas as pd

In [3]:
# load compressed dataframe
df = pd.read_csv("./data/201801-citibike-tripdata.csv.zip", compression='zip')

In [4]:
# preview
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [5]:
# data types
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

<hr>

## System Data
Resource:  https://ride.citibikenyc.com/system-data  

* Trip Duration (seconds)
* Start Time and Date
* Stop Time and Date
* Start Station ID
* Start Station Name
* Start Station Lat
* Start Station Long
* End Station ID
* End Station Name
* End Station Lat
* End Station Long
* Bike ID
* User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
* Year of Birth
* Gender (Zero=unknown; 1=male; 2=female)

<hr>

In [6]:
# review key numeric data
df['tripduration'].describe()

count    7.189940e+05
mean     8.268107e+02
std      3.279694e+04
min      6.100000e+01
25%      3.190000e+02
50%      5.100000e+02
75%      8.420000e+02
max      1.951005e+07
Name: tripduration, dtype: float64

In [7]:
# review key numeric data
df['tripduration'].value_counts()

307      1111
289      1085
324      1085
345      1082
334      1075
         ...
53908       1
3148        1
4482        1
13072       1
3422        1
Name: tripduration, Length: 5516, dtype: int64

In [10]:
# distribution of trips
df.groupby('start station id').count()['tripduration'].sort_values()

start station id
3662       1
3488       1
428        1
3250       1
3485       2
        ...
497     4503
402     4526
3255    4852
435     5093
519     8080
Name: tripduration, Length: 763, dtype: int64

In [11]:
# review key numeric data
df['gender'].value_counts()

1    537589
2    151806
0     29599
Name: gender, dtype: int64

In [12]:
# review key numeric data
df['birth year'].value_counts()

1969    39851
1989    26774
1990    26741
1985    26133
1988    25817
        ...
1935        4
1918        3
1919        2
1931        2
1916        1
Name: birth year, Length: 88, dtype: int64

## Review

* No major issues with the data
* 30,000 users have unknown gender but 500k are male and 150k are female 
* Some of the ages seem a bit off or maybe some 100 year olds are riding